* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main-products-container {
  display: flex;
  flex-direction: column;
}

.products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}